extends layout

block content
    content
        h4 Halo, #{username}
         br
         br
         a(href="/cards") Ke pertanyaan yuk
         br
         br
         form(action="/goodbye", method="POST")
            input(type="submit" value="Log out")
        